<%= form_for([:mypage, @question]) do |f| %>
  <%= f.text_field :title %>
  <% Party.active.each do |party| %>
    <div id="j__party_<%= party.id %>">
      <%= f.fields_for :scores do |qs_f| %>
        <%= qs_f.select :party_id, Party.active.map { |party| [party.name, party.id] }, selected: party.id %>
        <%= qs_f.text_field :agree,      size: 6, placeholder: '賛成度', class: "j__point_#{party.id}" %>
        <%= qs_f.text_field :neutral,    size: 6, placeholder: '中立度', class: "j__point_#{party.id}" %>
        <%= qs_f.text_field :opposition, size: 6, placeholder: '反対度', class: "j__point_#{party.id}" %>
      <% end %>
      <span id="j__delete_<%= party.id %>">x</span>
      <span id="j__alert_<%= party.id %>"></span>
    </div>
  <% end %>
  <%= f.submit "Create Question" %>
<% end %>

<div>
  <% @questions.each do |question| %>
    <div>
      <%= question.title %>
      <% question.scores.each do |score| %>
        <div>
          <%= score.party.name %> <%= score.agree %> <%= score.neutral %> <%= score.opposition %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
