<div class="container  create-question">
  <div class="show-title clearfix j__show-title">
    <div class="question-set-title-text-show">タイトル：<%= link_to @question_set.title, question_set_path(@question_set) %></div>
    <div class="edit-title-button"><%= button_tag '編集', class: 'edit-submit-button' %></div>
  </div>

  <div class="edit-title clearfix j__edit-title" style="display: none;">
    <%= form_for([:mypage, @question_set]) do |f| %>
      <%= f.hidden_field :question_set, value: @question_set.id %>
      <div class="question-set-title-text">タイトル：<%= f.text_field :title, class: 'question-create-title' %></div>
      <div class="edit-title-button"><%= f.submit '保存', class: 'edit-submit-button' %></div>
    <% end %>
  </div>
  <%= render 'layouts/error' %>

  <%= form_for([:mypage, @question]) do |f| %>
    <%= f.hidden_field :question_set, value: @question_set.id %>
    <table class="table">
      <tr>
        <div class="question-score-list-show">
          <div class="question-title clearfix">
            <div class="question">質問</div>
            <div class="question-field">
              <%= f.text_field :title, class: 'question-create-title' %>
            </div>
          </div>
        </div>
      </tr>
      <tr>
        <th>政党</th>
        <th>賛成度</th>
        <th>中立度</th>
        <th>反対度</th>
        <% if @question_set.saved_questions.blank? %><th class="party-delete">削除</th><% end %>
        <th class="point-alert"> </th>
      </tr>
      <% @parties.each do |party| %>
        <%= f.fields_for :scores do |qs_f| %>
          <tr id="j__party_<%= party.id %>">
            <td>
              <%= qs_f.select :party_id, @parties.map { |party| [party.name, party.id] }, selected: party.id %>
            </td>
            <td>
              <%= qs_f.select :agree, QuestionScore::SCORES, { include_blank: true, selected: '' }, class: "j__point_#{party.id}" %>
            </td>
            <td>
              <%= qs_f.select :neutral, QuestionScore::SCORES, { include_blank: true, selected: '' }, class: "j__point_#{party.id}" %>
            </td>
            <td>
              <%= qs_f.select :opposition, QuestionScore::SCORES, { include_blank: true, selected: '' }, class: "j__point_#{party.id}" %>
            </td>
            <% if @question_set.saved_questions.blank? %>
              <td class="party-delete" style="text-align:center;">
                <i class="fa fa-times j__delete_party" aria-hidden="true"></i>
              </td>
            <% end %>
            <td><span class="j__alert" id="j__alert_<%= party.id %>"></span></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="submit"><%= f.submit '追加', class: 'submit-button' %></div>
  <% end %>

  <div class="question-score-list">
    <% @question_set.saved_questions.each do |question| %>
      <div class="question-title j__show_question_score">
        <i class="fa fa-caret-square-o-down dropdown-icon j__accordion_change"
           aria-hidden="true"></i><%= question.title %>
      </div>
      <div class="accordion">
        <table class="table">
          <tr>
            <td class="question-score">政党名</td>
            <td class="question-score">賛成度</td>
            <td class="question-score">中立度</td>
            <td class="question-score">反対度</td>
          </tr>
          <% question.scores.each do |score| %>
            <tr>
              <td class="question-score"><%= score.party.name %></td>
              <td class="question-score"><%= score.agree %></td>
              <td class="question-score"><%= score.neutral %></td>
              <td class="question-score"><%= score.opposition %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="4" class="edit-row">
              <%= link_to '編集', mypage_question_path(question), class: 'question-edit' %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
