<div class="container">
  <%= render 'layouts/error' %>

  <div>
    <%= form_for([:mypage, @question_set]) do |f| %>
      <div class="question-score-list-show">
        <div class="question-title clearfix">
          <div class="question">タイトル</div>
          <div class="question-field">
            <%= f.text_field :title, class: 'question-create-title' %>
          </div>
          <div class="submit votematch-submit"><%= f.submit 'ボートマッチを作成する', class: 'submit-button' %></div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'votematches', question_sets: @question_sets %>
</div>
