<!DOCTYPE html>
<html>
  <head>
    <title>みんなのぼーとまっち</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= Gon::Base.render_data({}) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container-fluid">
    <header>
      <nav>
        <ul class="nav-top">
          <% if user_signed_in? %>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li><%= link_to 'マイページ', mypage_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
